{% extends 'main_app/base.html' %}
{% load static %}


{% block title %} What We Do{% endblock %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main_app:index_page' %}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">What we do</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Our Function</h5>
              Thamer is a dynamic website that helps companies in Saudi Arabia to comply with the Local Content Authority and Saudi Aramco's IKTVA program.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Problem</h5>
              <p>Companies in Saudi Arabia are required to have a certain percentage of local content and IKTVA in their operations. This can be difficult to achieve, as the market is constantly changing and it can be difficult to find suppliers with high local content and IKTVA scores.</p>
            </div>
          </div>

        </div>
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Solution</h5>
              <p>Thamer provides a one-stop solution for companies to manage their local content and IKTVA compliance. Companies can register on our website and enter their full data, including their local content and IKTVA percentages for the current year and the past five years. This data is then displayed in a table format, making it easy for companies to track their performance and identify areas for improvement.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Benefits</h5>
              <p>Using Thamer can help companies to save money through winning the  government and Aramco contracts, and reduce their risk of non-compliance with Iktva and local content scores.</p>
            </div>
          </div>

        </div>
                  <div class="col-lg-6">

        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Target Customer</h5>
              <p>Thamer is for all companies located in and outside the kingdom of Saudi Arabia that have Iktva and local content scores.</p>
            </div>
          </div>

        </div>
                      <div class="col-lg-6">

                <div class="card">
            <div class="card-body">
              <h5 class="card-title">Why THAMER?</h5>
              <p>Visit the Thamer website to learn more about how you we can assist you to comply with the Local Content Authority and Saudi Aramco's IKTVA program.</p>
            </div>
          </div>

        </div>
                

        
              

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sign up for a free trial</h5>
              <p>Visit Thamer website to sign up for a free trial, and review our platform.</p>
            </div>
          </div>



      </div>
    </section>

  </main><!-- End #main -->


{% endblock %}